##### dev-1 notebook

* Student name: Jamel Dargan
* Student pace: online full-time
* Scheduled project review date/time: 
* Instructor name: Rafael Carrasco
* Blog post URL: DRAFT https://medium.com/@jameld.pro/data-baby-e6b493f3fa5a

<h1>Data Conditioning</h1>

No Exploratory Data Analysis (EDA) in this notebook

### Load and structure data for EDA

In [1]:
import os

import numpy as np
import pandas as pd

from glob import glob

In [2]:
# set the current working directory
os.chdir("c:/users/jd/flatiron/project01/dsc-mod-1-project-v2-1-online-ds-ft-120919/")

# print the current working directory
print(os.getcwd(), '\n')

c:\users\jd\flatiron\project01\dsc-mod-1-project-v2-1-online-ds-ft-120919

### Load data using glob

In [3]:
# get the list of files using glob
csv_files = glob("zippedData/*gz")

csv_files

['zippedData\\bom.movie_gross.csv.gz',
 'zippedData\\imdb.name.basics.csv.gz',
 'zippedData\\imdb.title.akas.csv.gz',
 'zippedData\\imdb.title.basics.csv.gz',
 'zippedData\\imdb.title.crew.csv.gz',
 'zippedData\\imdb.title.principals.csv.gz',
 'zippedData\\imdb.title.ratings.csv.gz',
 'zippedData\\rt.movie_info.tsv.gz',
 'zippedData\\rt.reviews.tsv.gz',
 'zippedData\\tmdb.movies.csv.gz',
 'zippedData\\tn.movie_budgets.csv.gz']

In [4]:
# create function to get column names from the zipped files
# taking into account different value separators and file encoding
def glob_items_cols(g_list):
    print(f"\nDatabase name and Columns for the {len(g_list)} database(s) are as follows:")

    # csv files
    for file in g_list:
        if ".csv" in str(file):
            db_df = pd.read_csv(
                file, compression='gzip', header=0
            )
            print(f"\n\n{file[0:-3]}:", "\n    ", db_df.columns)
    # tsv files    
        if ".tsv" in str(file):
            if "movie_info" in str(file):
                # change delimiter for tsv file `movie_info.tsv`
                db_df = pd.read_csv(
                    file, compression='gzip', header=0, sep="\t"
                )
                print(f"\n\n{file[0:-3]}:", "\n    ", db_df.columns)
            else:
                if "reviews" in str(file):
                    # change delimiter and encoding for tsv file `reviews.tsv`
                    db_df =  pd.read_csv(
                        file, compression='gzip', header=0, sep="\t", encoding="latin-1"
                    )
                    print(f"\n\n{file[0:-3]}:", "\n    ", db_df.columns)

In [5]:
glob_items_cols(csv_files)

Database name and Columns for the 11 database(s) are as follows:


zippedData\bom.movie_gross.csv:
     Index(['title', 'studio', 'domestic_gross', 'foreign_gross', 'year'], dtype='object')


zippedData\imdb.name.basics.csv:
     Index(['nconst', 'primary_name', 'birth_year', 'death_year',
       'primary_profession', 'known_for_titles'],
      dtype='object')


zippedData\imdb.title.akas.csv:
     Index(['title_id', 'ordering', 'title', 'region', 'language', 'types',
       'attributes', 'is_original_title'],
      dtype='object')


zippedData\imdb.title.basics.csv:
     Index(['tconst', 'primary_title', 'original_title', 'start_year',
       'runtime_minutes', 'genres'],
      dtype='object')


zippedData\imdb.title.crew.csv:
     Index(['tconst', 'directors', 'writers'], dtype='object')


zippedData\imdb.title.principals.csv:
     Index(['tconst', 'ordering', 'nconst', 'category', 'job', 'characters'], dtype='object')


zippedData\imdb.title.ratings.csv:
     Index(['tconst', 'averagerating', 'numvotes'], dtype='object')


zippedData\rt.movie_info.tsv:
     Index(['id', 'synopsis', 'rating', 'genre', 'director', 'writer',
       'theater_date', 'dvd_date', 'currency', 'box_office', 'runtime',
       'studio'],
      dtype='object')


zippedData\rt.reviews.tsv:
     Index(['id', 'review', 'rating', 'fresh', 'critic', 'top_critic', 'publisher',
       'date'],
      dtype='object')


zippedData\tmdb.movies.csv:
     Index(['Unnamed: 0', 'genre_ids', 'id', 'original_language', 'original_title',
       'popularity', 'release_date', 'title', 'vote_average', 'vote_count'],
      dtype='object')


zippedData\tn.movie_budgets.csv:
     Index(['id', 'release_date', 'movie', 'production_budget', 'domestic_gross',
       'worldwide_gross'],
      dtype='object')

In [6]:
# create function to get database information from file list
def glob_items_info(g_list):
    # csv files
    for file in g_list:
        if ".csv" in str(file):
            db_df = pd.read_csv(file, compression='gzip', header=0)
            print(f"\n{file[0:-3]}:", "\n    ", db_df.info(), "\n\n")
    # tsv files    
        if ".tsv" in str(file):
            if "movie_info" in str(file):
                # change delimiter for tsv file `movie_info.tsv`
                db_df = pd.read_csv(file, compression='gzip', header=0, sep="\t")
                print(f"\n{file[0:-3]}:", "\n    ", db_df.info(), "\n\n")
            else:
                if "reviews" in str(file):
                    # change delimiter and encoding for tsv file `reviews.tsv`
                    db_df =  pd.read_csv(file, compression='gzip', header=0, sep="\t", encoding="latin-1")
                    print(f"\n{file[0:-3]}:", "\n    ", db_df.info(), "\n\n")

In [7]:
# preview info for objects in the globbed file list
glob_items_info(csv_files)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
title             3387 non-null object
studio            3382 non-null object
domestic_gross    3359 non-null float64
foreign_gross     2037 non-null object
year              3387 non-null int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

zippedData\bom.movie_gross.csv:
     None


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 606648 entries, 0 to 606647
Data columns (total 6 columns):
nconst                606648 non-null object
primary_name          606648 non-null object
birth_year            82736 non-null float64
death_year            6783 non-null float64
primary_profession    555308 non-null object
known_for_titles      576444 non-null object
dtypes: float64(2), object(4)
memory usage: 27.8+ MB

zippedData\imdb.name.basics.csv:
     None


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 331703 entries, 0 to 331702
Data columns (total 8 columns):
title_id             331703 non-null object
ordering             331703 non-null int64
title                331703 non-null object
region               278410 non-null object
language             41715 non-null object
types                168447 non-null object
attributes           14925 non-null object
is_original_title    331678 non-null float64
dtypes: float64(1), int64(1), object(6)
memory usage: 20.2+ MB

zippedData\imdb.title.akas.csv:
     None


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 6 columns):
tconst             146144 non-null object
primary_title      146144 non-null object
original_title     146123 non-null object
start_year         146144 non-null int64
runtime_minutes    114405 non-null float64
genres             140736 non-null object
dtypes: float64(1), int64(1), object(4)
memory usage: 6.7+ MB

zippedData\imdb.title.basics.csv:
     None


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 3 columns):
tconst       146144 non-null object
directors    140417 non-null object
writers      110261 non-null object
dtypes: object(3)
memory usage: 3.3+ MB

zippedData\imdb.title.crew.csv:
     None


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1028186 entries, 0 to 1028185
Data columns (total 6 columns):
tconst        1028186 non-null object
ordering      1028186 non-null int64
nconst        1028186 non-null object
category      1028186 non-null object
job           177684 non-null object
characters    393360 non-null object
dtypes: int64(1), object(5)
memory usage: 47.1+ MB

zippedData\imdb.title.principals.csv:
     None


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73856 entries, 0 to 73855
Data columns (total 3 columns):
tconst           73856 non-null object
averagerating    73856 non-null float64
numvotes         73856 non-null int64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.7+ MB

zippedData\imdb.title.ratings.csv:
     None


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1560 entries, 0 to 1559
Data columns (total 12 columns):
id              1560 non-null int64
synopsis        1498 non-null object
rating          1557 non-null object
genre           1552 non-null object
director        1361 non-null object
writer          1111 non-null object
theater_date    1201 non-null object
dvd_date        1201 non-null object
currency        340 non-null object
box_office      340 non-null object
runtime         1530 non-null object
studio          494 non-null object
dtypes: int64(1), object(11)
memory usage: 146.4+ KB

zippedData\rt.movie_info.tsv:
     None


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54432 entries, 0 to 54431
Data columns (total 8 columns):
id            54432 non-null int64
review        48869 non-null object
rating        40915 non-null object
fresh         54432 non-null object
critic        51710 non-null object
top_critic    54432 non-null int64
publisher     54123 non-null object
date          54432 non-null object
dtypes: int64(2), object(6)
memory usage: 3.3+ MB

zippedData\rt.reviews.tsv:
     None


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26517 entries, 0 to 26516
Data columns (total 10 columns):
Unnamed: 0           26517 non-null int64
genre_ids            26517 non-null object
id                   26517 non-null int64
original_language    26517 non-null object
original_title       26517 non-null object
popularity           26517 non-null float64
release_date         26517 non-null object
title                26517 non-null object
vote_average         26517 non-null float64
vote_count           26517 non-null int64
dtypes: float64(2), int64(3), object(5)
memory usage: 2.0+ MB

zippedData\tmdb.movies.csv:
     None


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
id                   5782 non-null int64
release_date         5782 non-null object
movie                5782 non-null object
production_budget    5782 non-null object
domestic_gross       5782 non-null object
worldwide_gross      5782 non-null object
dtypes: int64(1), object(5)
memory usage: 271.2+ KB

zippedData\tn.movie_budgets.csv:
     None

### Load all files as dataframes into a dictionary

In [8]:
# create a dictionary with keys as csv/ tsv filename (cleaned)
# values as their respective dataframe names
csv_files_dict = {}

# populate the dictionary using a for loop
for filename in csv_files:
    # clean the file names
    filename_cleaned = os.path.basename(filename.replace(
    ".csv", "").replace(".tsv", "").replace(".gz", "").replace("-", "_").replace(".", "_"))
    #
    if ".csv" in str(filename):
        filename_df = pd.read_csv(filename, compression='gzip', header=0, index_col=0)
    if ".tsv" in str(filename):
        if "movie_info" in str(filename):
            filename_df = pd.read_csv(
                filename, compression='gzip', sep="\t", index_col=0)
        else:
            if "reviews" in str(filename):
                filename_df = pd.read_csv(
                    filename, compression='gzip', sep="\t", encoding="latin-1", index_col=0)
    #
    csv_files_dict[filename_cleaned] = filename_df #use cleaned file names
    # end loop

# view the created dictionaries keys (cleaned file names)
display(csv_files_dict.keys())

dict_keys(['bom_movie_gross', 'imdb_name_basics', 'imdb_title_akas', 'imdb_title_basics', 'imdb_title_crew', 'imdb_title_principals', 'imdb_title_ratings', 'rt_movie_info', 'rt_reviews', 'tmdb_movies', 'tn_movie_budgets'])

In [9]:
# test a dataframe from csv_files_dict
# assign it the variable `current_df`
# in the format: current_df = csv_files_dict[`df`]
current_df = csv_files_dict['imdb_title_basics']

# view only the current dataframe column names
display(current_df.iloc[:0,])

Empty DataFrame
Columns: [primary_title, original_title, start_year, runtime_minutes, genres]
Index: []

In [10]:
# loop to preview information for each data frame
for d in csv_files_dict:
    current_df = csv_files_dict[d]
    # view information and sample data for each `current_df`
    print(current_df.info(), current_df.head(2), "\n\n")

<class 'pandas.core.frame.DataFrame'>
Index: 3387 entries, Toy Story 3 to An Actor Prepares
Data columns (total 4 columns):
studio            3382 non-null object
domestic_gross    3359 non-null float64
foreign_gross     2037 non-null object
year              3387 non-null int64
dtypes: float64(1), int64(1), object(2)
memory usage: 132.3+ KB
None                            studio  domestic_gross foreign_gross  year
title
Toy Story 3                    BV     415000000.0     652000000  2010
Alice in Wonderland (2010)     BV     334200000.0     691300000  2010


<class 'pandas.core.frame.DataFrame'>
Index: 606648 entries, nm0061671 to nm9993380
Data columns (total 5 columns):
primary_name          606648 non-null object
birth_year            82736 non-null float64
death_year            6783 non-null float64
primary_profession    555308 non-null object
known_for_titles      576444 non-null object
dtypes: float64(2), object(3)
memory usage: 27.8+ MB
None                 primary_name  birth_year  death_year  \
nconst
nm0061671  Mary Ellen Bauder         NaN         NaN
nm0061865       Joseph Bauer         NaN         NaN

                                   primary_profession  \
nconst
nm0061671   miscellaneous,production_manager,producer
nm0061865  composer,music_department,sound_department

                                  known_for_titles
nconst
nm0061671  tt0837562,tt2398241,tt0844471,tt0118553
nm0061865  tt0896534,tt6791238,tt0287072,tt1682940


<class 'pandas.core.frame.DataFrame'>
Index: 331703 entries, tt0369610 to tt9880178
Data columns (total 7 columns):
ordering             331703 non-null int64
title                331703 non-null object
region               278410 non-null object
language             41715 non-null object
types                168447 non-null object
attributes           14925 non-null object
is_original_title    331678 non-null float64
dtypes: float64(1), int64(1), object(5)
memory usage: 20.2+ MB
None            ordering              title region language        types  \
title_id
tt0369610        10      Джурасик свят     BG       bg          NaN
tt0369610        11  Jurashikku warudo     JP      NaN  imdbDisplay

          attributes  is_original_title
title_id
tt0369610        NaN                0.0
tt0369610        NaN                0.0


<class 'pandas.core.frame.DataFrame'>
Index: 146144 entries, tt0063540 to tt9916754
Data columns (total 5 columns):
primary_title      146144 non-null object
original_title     146123 non-null object
start_year         146144 non-null int64
runtime_minutes    114405 non-null float64
genres             140736 non-null object
dtypes: float64(1), int64(1), object(3)
memory usage: 6.7+ MB
None                              primary_title   original_title  start_year  \
tconst
tt0063540                        Sunghursh        Sunghursh        2013
tt0066787  One Day Before the Rainy Season  Ashad Ka Ek Din        2019

           runtime_minutes              genres
tconst
tt0063540            175.0  Action,Crime,Drama
tt0066787            114.0     Biography,Drama


<class 'pandas.core.frame.DataFrame'>
Index: 146144 entries, tt0285252 to tt9010172
Data columns (total 2 columns):
directors    140417 non-null object
writers      110261 non-null object
dtypes: object(2)
memory usage: 3.3+ MB
None            directors              writers
tconst
tt0285252  nm0899854            nm0899854
tt0438973        NaN  nm0175726,nm1802864


<class 'pandas.core.frame.DataFrame'>
Index: 1028186 entries, tt0111414 to tt9692684
Data columns (total 5 columns):
ordering      1028186 non-null int64
nconst        1028186 non-null object
category      1028186 non-null object
job           177684 non-null object
characters    393360 non-null object
dtypes: int64(1), object(4)
memory usage: 47.1+ MB
None            ordering     nconst  category  job   characters
tconst
tt0111414         1  nm0246005     actor  NaN  ["The Man"]
tt0111414         2  nm0398271  director  NaN          NaN


<class 'pandas.core.frame.DataFrame'>
Index: 73856 entries, tt10356526 to tt9894098
Data columns (total 2 columns):
averagerating    73856 non-null float64
numvotes         73856 non-null int64
dtypes: float64(1), int64(1)
memory usage: 1.7+ MB
None             averagerating  numvotes
tconst
tt10356526            8.3        31
tt10384606            8.9       559


<class 'pandas.core.frame.DataFrame'>
Int64Index: 1560 entries, 1 to 2000
Data columns (total 11 columns):
synopsis        1498 non-null object
rating          1557 non-null object
genre           1552 non-null object
director        1361 non-null object
writer          1111 non-null object
theater_date    1201 non-null object
dvd_date        1201 non-null object
currency        340 non-null object
box_office      340 non-null object
runtime         1530 non-null object
studio          494 non-null object
dtypes: object(11)
memory usage: 146.2+ KB
None                                              synopsis rating  \
id
1   This gritty, fast-paced, and innovative police...      R
3   New York City, not-too-distant-future: Eric Pa...      R

                                  genre          director  \
id
1   Action and Adventure|Classics|Drama  William Friedkin
3     Drama|Science Fiction and Fantasy  David Cronenberg

                          writer  theater_date      dvd_date currency  \
id
1                 Ernest Tidyman   Oct 9, 1971  Sep 25, 2001      NaN
3   David Cronenberg|Don DeLillo  Aug 17, 2012   Jan 1, 2013        $

   box_office      runtime             studio
id
1         NaN  104 minutes                NaN
3     600,000  108 minutes  Entertainment One


<class 'pandas.core.frame.DataFrame'>
Int64Index: 54432 entries, 3 to 2000
Data columns (total 7 columns):
review        48869 non-null object
rating        40915 non-null object
fresh         54432 non-null object
critic        51710 non-null object
top_critic    54432 non-null int64
publisher     54123 non-null object
date          54432 non-null object
dtypes: int64(1), object(6)
memory usage: 3.3+ MB
None                                                review rating   fresh  \
id
3   A distinctly gallows take on contemporary fina...    3/5   fresh
3   It's an allegory in search of a meaning that n...    NaN  rotten

            critic  top_critic        publisher               date
id
3       PJ Nabarro           0  Patrick Nabarro  November 10, 2018
3   Annalee Newitz           0          io9.com       May 23, 2018


<class 'pandas.core.frame.DataFrame'>
Int64Index: 26517 entries, 0 to 26516
Data columns (total 9 columns):
genre_ids            26517 non-null object
id                   26517 non-null int64
original_language    26517 non-null object
original_title       26517 non-null object
popularity           26517 non-null float64
release_date         26517 non-null object
title                26517 non-null object
vote_average         26517 non-null float64
vote_count           26517 non-null int64
dtypes: float64(2), int64(2), object(5)
memory usage: 2.0+ MB
None              genre_ids     id original_language  \
0      [12, 14, 10751]  12444                en
1  [14, 12, 16, 10751]  10191                en

                                 original_title  popularity release_date  \
0  Harry Potter and the Deathly Hallows: Part 1      33.533   2010-11-19
1                      How to Train Your Dragon      28.734   2010-03-26

                                          title  vote_average  vote_count
0  Harry Potter and the Deathly Hallows: Part 1           7.7       10788
1                      How to Train Your Dragon           7.7        7610


<class 'pandas.core.frame.DataFrame'>
Int64Index: 5782 entries, 1 to 82
Data columns (total 5 columns):
release_date         5782 non-null object
movie                5782 non-null object
production_budget    5782 non-null object
domestic_gross       5782 non-null object
worldwide_gross      5782 non-null object
dtypes: object(5)
memory usage: 271.0+ KB
None     release_date                                        movie  \
id
1   Dec 18, 2009                                       Avatar
2   May 20, 2011  Pirates of the Caribbean: On Stranger Tides

   production_budget domestic_gross worldwide_gross
id
1       $425,000,000   $760,507,625  $2,776,345,279
2       $410,600,000   $241,063,875  $1,045,663,875

### Load files into sqlite database

In [11]:
import sqlite3

In [12]:
# create a sqlite file in the current directory
conn = sqlite3.connect("movies_db.sqlite")

### One-off example, to condition a nested dataframe into a sqlite table

In [13]:
# this converts a dataframe to a sqlite table, with the name 'tmdb_movies'
# enabling sql create the schema

#csv_files_dict['tmdb_movies'].to_sql("tmdb_movies", conn)

### Create a function to automate this conversion

In [14]:
# Write a function that converts a nested dataframe to a sqlite table
def create_sql_table_from_df(df, name, conn):
    # Use try except
    # it will try to make a table
    # if a table exists the function will execute the except part
    try:
        df.to_sql(name, conn)
        print(f"Created table {name}")
    
    # if the table exists it will tell you, and won't cause an error
    except Exception as e:
        print(f"could not make table {name}")
        print(e)

In [15]:
# Looping through the dictionary of keys and dataframes
# We can create the sql tables programmatically

for name, table in csv_files_dict.items():
    create_sql_table_from_df(table, name, conn)

could not make table bom_movie_gross
Table 'bom_movie_gross' already exists.
could not make table imdb_name_basics
Table 'imdb_name_basics' already exists.
could not make table imdb_title_akas
Table 'imdb_title_akas' already exists.
could not make table imdb_title_basics
Table 'imdb_title_basics' already exists.
could not make table imdb_title_crew
Table 'imdb_title_crew' already exists.
could not make table imdb_title_principals
Table 'imdb_title_principals' already exists.
could not make table imdb_title_ratings
Table 'imdb_title_ratings' already exists.
could not make table rt_movie_info
Table 'rt_movie_info' already exists.
could not make table rt_reviews
Table 'rt_reviews' already exists.
could not make table tmdb_movies
Table 'tmdb_movies' already exists.
could not make table tn_movie_budgets
Table 'tn_movie_budgets' already exists.

In [16]:
# view names of all table in the sql database
conn.execute("select name from sqlite_master where type='table';").fetchall()

[('bom_movie_gross',),
 ('imdb_name_basics',),
 ('imdb_title_akas',),
 ('imdb_title_basics',),
 ('imdb_title_crew',),
 ('imdb_title_principals',),
 ('imdb_title_ratings',),
 ('rt_movie_info',),
 ('rt_reviews',),
 ('tmdb_movies',),
 ('tn_movie_budgets',)]

In [17]:
# query a sql table
cur = conn.cursor()
cur.execute('''SELECT * FROM rt_movie_info LIMIT 2;''').fetchall()

[(1,
  'This gritty, fast-paced, and innovative police drama earned five Academy Awards, including Best Picture, Best Adapted Screenplay (written by Ernest Tidyman), and Best Actor (Gene Hackman). Jimmy "Popeye" Doyle (Hackman) and his partner, Buddy Russo (Roy Scheider), are New York City police detectives on narcotics detail, trying to track down the source of heroin from Europe into the United States. Suave Alain Charnier (Fernando Rey) is the French drug kingpin who provides a large percentage of New York City\'s dope, and Pierre Nicoli (Marcel Bozzuffi) is a hired killer and Charnier\'s right-hand man. Acting on a hunch, Popeye and Buddy start tailing Sal Boca (Tony Lo Bianco) and his wife, Angie (Arlene Faber), who live pretty high for a couple whose corner store brings in about 7,000 dollars a year. It turns out Popeye\'s suspicions are right -- Sal and Angie are the New York agents for Charnier, who will be smuggling 32 million dollars\' worth of heroin into the city in a car shipped over from France. The French Connection broke plenty of new ground for screen thrillers; Popeye Doyle was a highly unusual "hero," an often violent, racist, and mean-spirited cop whose dedication to his job fell just short of dangerous obsession. The film\'s high point, a high-speed car chase with Popeye tailing an elevated train, was one of the most viscerally exciting screen moments of its day and set the stage for dozens of action sequences to follow. And the film\'s grimy realism (and downbeat ending) was a big change from the buff-and-shine gloss and good-guys-always-win heroics of most police dramas that preceded it. The French Connection was inspired by a true story, and Eddie Egan and Sonny Grosso, Popeye and Buddy\'s real life counterparts, both have small roles in the film. A sequel followed four years later.',
  'R',
  'Action and Adventure|Classics|Drama',
  'William Friedkin',
  'Ernest Tidyman',
  'Oct 9, 1971',
  'Sep 25, 2001',
  None,
  None,
  '104 minutes',
  None),
 (3,
  "New York City, not-too-distant-future: Eric Packer, a 28 year-old finance golden boy dreaming of living in a civilization ahead of this one, watches a dark shadow cast over the firmament of the Wall Street galaxy, of which he is the uncontested king. As he is chauffeured across midtown Manhattan to get a haircut at his father's old barber, his anxious eyes are glued to the yuan's exchange rate: it is mounting against all expectations, destroying Eric's bet against it. Eric Packer is losing his empire with every tick of the clock. Meanwhile, an eruption of wild activity unfolds in the city's streets. Petrified as the threats of the real world infringe upon his cloud of virtual convictions, his paranoia intensifies during the course of his 24-hour cross-town odyssey. Packer starts to piece together clues that lead him to a most terrifying secret: his imminent assassination. -- (C) Official Site",
  'R',
  'Drama|Science Fiction and Fantasy',
  'David Cronenberg',
  'David Cronenberg|Don DeLillo',
  'Aug 17, 2012',
  'Jan 1, 2013',
  '$',
  '600,000',
  '108 minutes',
  'Entertainment One')]

In [18]:
# query a sql table and wrap the results as a pandas dataframe
cur.execute('''SELECT * FROM rt_movie_info LIMIT 2;''')
df = pd.DataFrame(cur.fetchall())
df.columns = [x[0] for x in cur.description]
df.head()

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",None,None,104 minutes,None
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One

### Add sqlite DB to a .gitignore file (file is too large to push to github)

In [19]:
# Now create a .gitignore file that will ignore unzipped and sqlite files
# files larger than 100 MB cannot be pushed to github from your computer

# create the file here in jupyter and open it from jupyter
with open("./.gitignore", "w+") as f:
    f.write("*.sqlite") # put files you want to ignore here
    f.write("\n") # insert a new line after each file
    f.write("zippedData/")
    f.write("\n")
    f.write("zippedData/*.csv")
    f.write("\n")
    f.write("zippedData/*.gz")

In [20]:
# closing the cursor and the connection
cur.close()
conn.close()

### Continue EDA work in the EDA notebook

#### cf:
    * `csv_files = glob("zippedData/*gz")` lists data files in directory 
    * `glob_items_cols(g_list)` to get file names with column names
    * `csv_files_dict` contains filename keys and dataframe values
    * `create_sql_table_from_df(df, name, conn)` creates sql tables from the nested dataframe